
.Layout_container{
    min-height: 100vh;
}

.Layout_nav{
    width: 100%;
}

.Layout_logo_container img{
    object-fit: contain;
    height: 50px;
}

.Layout_menu_currentpage_container{
    display: flex;
}

.Layout_currentpage_container{
    padding: 0 30px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(100vh - 55px);
    margin: 0 auto;
    max-width: 1300px;
}