.NotificationItem{
    display: flex;
    cursor: pointer;
    padding: 10px;

}

.NotificationItem:hover{
    background: rgb(233, 233, 233);
}

.NotificationItem p{
    margin: 0;
}

.NotificationItem small{
    color: lightgray;
}